<ion-view view-title="Forgot Password">

  <ion-header-bar class="bar-calm">
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
        <h1 class="title">Forgot Password</h1>

  </ion-header-bar>
  <ion-content class="padding scroll-content ionic-scroll has-header has-tabs"  ng-controller="forgotPwdCtrl">
    <form name="forgotPasswordForm" ng-submit="sendEmail()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="model.email" required>
        </label>
      </div>
    <button class="button button-calm row-center" type="submit">Send</button>
      <div class="row-center">We will send you an email with further instructions to reset
        your password.
      </div>
    </form>
  </ion-content>

</ion-view>
