

<ion-view view-title="Real Time Data">
  <ion-header-bar class="bar-stable">
    <h1 class="title">Real Time Data</h1>
  </ion-header-bar>

  <ion-nav-buttons side="primary" >
    <button class="button button-clear" ng-click="openModal()"><i class="icon ion-ios-plus-empty"></i></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="changeReorderState()">Sort</button>
  </ion-nav-buttons>

  <div class="bar bar-subheader" >
    <h2 class="title">
      <div class="row">
        <div class="col">Commodity</div>
        <div class="col">Last</div>
        <div class="col">Change</div>
      </div>
    </h2>
  </div>

  <ion-content class="ionic-scroll has-header has-subheader has-tabs" ng-controller="RealTimeDataCtrl">
    <!-- Add buttons to both primary and secondary sides of the navbar -->

        <div class="row">
          <div class="col col-center">
            <button class="button button-calm" ng-click="connectSocket()">
              connect
            </button>
          </div>
        </div>

        <!-- ionRefresher activates when the user pulls down and calls getQuotes() -->
        <ion-refresher on-refresh="getQuotes()"></ion-refresher>
        <!-- ionList allows us to make a complex list with swipe buttons, reordering, and more -->
          <ion-list show-reorder=state.reorder>
            <!-- Repeat over each quote, to display the current details and name -->
            <ion-item ng-repeat="stock in quotes">

                <div style="display:inline-block;width:33%" class="col-offset-10">{{stock.symbol}}</div>
                <div style="display:inline-block;width:33%">{{stock.LastTradePriceOnly | currency:'$'}}</div>
                <div style="display:inline-block;width:33%" >{{stock.Change}}</div>

              <!-- Option and reorder button for list items -->
              <ion-option-button class="button-assertive" ng-click="remove($index)">Remove</ion-option-button>
              <ion-reorder-button on-reorder="reorder(stock, $fromIndex, $toIndex)" class="ion-navicon"></ion-reorder-button>

            </ion-item>
          </ion-list>


  </ion-content>


</ion-view>
