<ion-view view-title="Real Time Data">
  <ion-header-bar class="bar-stable">
    <h1 class="title">Real Time Data</h1>
  </ion-header-bar>
  <div class="bar bar-subheader">
    <h2 class="title">
      <div class="row">
        <div class="col">Commodity</div>
        <div class="col">Last</div>
        <div class="col">Change</div>
      </div>
    </h2>
  </div>

  <ion-content class="ionic-scroll has-header has-subheader has-tabs" ng-controller="RealTimeDataCtrl">
        <div class="row"><div class="col col-center"></div></div>
        <div class="list">
          <li class="item" >
            <div class="row">
              <div class="col col-50">TOCOM Kerose</div>
              <div class="col col-35">43780.00</div>
              <div class="col col-25">-440</div>
            </div>

          </li>
          <li class="item">
            <div class="row">
              <div class="col col-50">NYMEX WTI Crude</div>
              <div class="col col-35">47.81</div>
              <div class="col col-25">-0.68</div>
            </div>
          </li>
          <li class="item">
            <div class="row">
              <div class="col col-50">ICE Brent Crude</div>
              <div class="col col-35">49.20</div>
              <div class="col col-25">-0.63</div>
            </div>

          </li>
          <li class="item">
            <div class="row">
              <div class="col col-50">TOCOM Crude</div>
              <div class="col col-35">30810.00</div>
              <div class="col col-25">-450.00</div>
            </div>
          </li>
          <li class="item">
            <div class="row">
              <div class="col col-50">NYMEX Natural Gas</div>
              <div class="col col-35">2.60</div>
              <div class="col col-25">-0.001</div>
            </div>
          </li>
        </div>
      </div>

  </ion-content>
</ion-view>
