<ion-view view-title="Welcome">
<ion-pane>

  <ion-header-bar class="bar-calm">
    <h1 class="title">Welcome</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="list card">

      <div class="item item-image">
        <img src="../img/welcome.jpg">
      </div>

      <div class="row row-center">
        <div class="col">
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
      <a class="item calm" href="#/login" >
        Sign In
      </a>
      <a class="item calm" href="#/signUp" >
        Create Account
      </a>

    </div>
  </ion-content>
</ion-pane>
